* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  min-width: 50px;
  text-align: right;
}

.monitor {
  display: flex; 
	justify-content: center;
	align-items: center;
  min-height: 400px;
}

